<div class="articles">
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-primary" href [routerLink]="['new']">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter article
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-condensed">
        <caption>Liste des articles du blog.</caption>
        <caption>
          <form class="form-inline">
            <div class="form-group">
              <label for="itemPerPage">Nombre d'article par page</label>
              <select id="itemPerPage" class="form-control" (change)="onItemPerPageChange($event.target.value)">
                <option>10</option>
                <option>20</option>
                <option>50</option>
              </select>
            </div>
          </form>
        </caption>
        <thead>
        <tr>
          <th>Titre</th>
          <th>Auteur</th>
          <th>Date de création</th>
        </tr>
        </thead>
        <tbody *ngIf="!articles">
        <tr>
          <td colspan="3">Chargement...</td>
        </tr>
        </tbody>
        <tbody *ngIf="articles">
        <tr *ngFor="let article of articles.content">
          <td scope="row"><a href [routerLink]="[article.id]">{{article.title}}</a></td>
          <td>{{article.author}}</td>
          <td>{{article.creationDate | date:'mediumDate'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-8" *ngIf="articles">
      Total : {{articles.totalElements}} article<span *ngIf="articles.totalElements > 1">s</span>
    </div>
    <div class="col-xs-4">
      <div class="pull-right">
        <button class="btn btn-primary"
                (click)="loadArticles(currentPage - 1, pageSize)"
                [ngClass]="{'disabled': !articles || articles.first}">
          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </button>

        <button class="btn btn-primary"
                (click)="loadArticles(currentPage + 1, pageSize)"
                [ngClass]="{'disabled': !articles || articles.last}">
          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
