<div class="articles">
  <div class="row">
    <div class="col-xs-12">
      <a class="btn btn-primary" href [routerLink]="['new']">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Ajouter article
      </a>
    </div>
  </div>
  <table class="table table-condensed">
    <caption>Liste des articles du blog.</caption>
    <thead>
    <tr>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Date de création</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
      <td scope="row">{{post.title}}</td>
      <td>{{post.author}}</td>
      <td>{{post.creationDate | date:'mediumDate'}}</td>
    </tr>
    </tbody>
  </table>
</div>
