/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';

.inline-block {
  display: inline-block;
}

@media (max-width: $screen-xs-max) {
  .xs-inline-block {
    display: inline-block;
  }

  .xs-padding-top-10 {
    padding-top: 10px;
  }
}

.padding-top-10 {
  padding-top: 10px;
}
